<p id="notice"><%= notice %></p>

<h1>Class Notes</h1>

<table>
  <thead>
    <tr>
       </th>For the title, name the class and topic for which you are taking notes!</th>
       </th>For the description, take notes for the designated topic while still being able to pay attention to what the instructor is discussing.</th>
        <th>Create notes for Class by clicking "New Note" below!  </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @individual_project1s.each do |individual_project1| %>
      <tr>
        <td><%= individual_project1.title %></td>
        <td><%= individual_project1.description %></td>
        <td><%= link_to 'Show', individual_project1 %></td>
        <td><%= link_to 'Edit', edit_individual_project1_path(individual_project1) %></td>
        <td><%= link_to 'Destroy', individual_project1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_individual_project1_path %>

