<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @individual_project1.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @individual_project1.description %>
</p>

<%= link_to 'Edit', edit_individual_project1_path(@individual_project1) %> |
<%= link_to 'Back', individual_project1s_path %>
